/include/ "system-conf.dtsi"
/ {

serial@ff010000 {
                status = "disabled";
                };

aliases {
                /delete-property/ serial1;
        };

/* RPU0 DDR */         
reserved-memory {
                #address-cells = <2>;
                #size-cells = <2>;
                ranges;
                
                rproc_0_reserved: rproc@60000000 {
                          no-map;
                          reg = <0x0 0x70000000 0x0 0x10000000>;
                          };
                };

};

/delete-node/ &uart1;

&axi_gpio_0 {
            /delete-property/ interrupt-controller ;
            /delete-property/ interrupt-names ;
            /delete-property/ interrupt-parent ;
            /delete-property/ interrupts ;
            xlnx,interrupt-present = <0x0>;
            };

&axi_timer_0 {
             /delete-property/ interrupt-names ;
             /delete-property/ interrupt-parent ;
             /delete-property/ interrupts ;
             };
